.story {
    width: 75%;
    margin: 0 auto;
    -webkit-box-shadow: 0 3rem 6rem rgba($color-black, .1);
            box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: $color-white;
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    -webkit-transform: skewX(-12deg);
            transform: skewX(-12deg);

    // circulo alrededor del area de la imagen, para que el texto se adapte
    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-transform: translateX(-3rem) skewX(12deg);
                transform: translateX(-3rem) skewX(12deg);;
    }

    &__img {
        height: 100%;
    }

    &__text {
        -webkit-transform: skewX(12deg);
                transform: skewX(12deg);
    }
}
